services:
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  pipeline:
    build: .
    depends_on:
      - mongodb
    command: bash run_pipeline.sh

  notebook:
    build: .
    depends_on:
      - mongodb
    command: jupyter lab --ip=0.0.0.0 --port=8888 --allow-root
    ports:
      - "8888:8888"
    volumes:
      - .:/app

volumes:
  mongo_data:
